* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

$color0: rgb(23, 7, 7);
$color1: white;
$color2: rgba(33, 5, 5, 0.89);
$color3: rgb(215, 125, 15);
$color4: blue;
$font: 'Times New Roman',
Times,
serif;
$font1: 'Cormorant SC',
serif;
$upper: uppercase;
$f40: 40px;
$subrayado: underline;

/*page nosotros */
header {
    background-color: $color0;
    border: 2px solid $color1;
    position: fixed;
    z-index: 1;

    .navbar-dark .nav-link {
        color: rgb(241, 233, 233) !important;
    }
}

.mainnosotros {
    padding-top: 90px;
    .titulo22 {
        display: flex;
        justify-content: center;
        color: $color1;
        text-decoration: $subrayado $color3;
        font-size: 50px;
        padding-bottom: 10px;
        text-transform: capitalize;
        font-family: $font1;
        font-style: italic;
    }

    .nosotrostexto {
        color: $color1;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .nuestroequipo {
        display: flex;
        justify-content: center;
        color: $color1;
        text-decoration: $subrayado $color3;
        font-size: 50px;
        padding-bottom: 10px;
        text-transform: capitalize;
        font-style: italic;
        font-family: $font1;
    }

    .artnos {
        transform: rotateY(30deg);
        transition-duration: 2s;
        color: $color1;
        padding: 20px;
        margin-bottom: 20px;
    }

    :hover {
        transform: scale(1);
        border-radius: 20px;
    }

    .nombres {
        text-shadow: 0 0 10px #000;
    }
}
@mixin sizes ($bgcolor, $border, $paddingt) {
    background-color: $bgcolor;
    border: $border;
    padding-top: $paddingt;
}

    .artnos {
        @include sizes($color2,2px solid $color3, 10px)
    }
.nosfooter {
    background-color: $color0;
    border: 2px solid $color1;
    color: $color1;
    padding-top: 10px;

    .titulofooternos {
        color: $color1;
        font-family: $font1;
        font-style: italic;
    }

    .logofooter {
        height: 100px;
        width: 100px;
    }

    .infonos {
        font-family: $font;
        text-transform: $upper;
    }

    .direccion {
        color: $color1;
    }

    .direccion:hover {
        text-decoration: none;
        color: $color1;
    }

    .menunosotrosfooter .nos12 {
        display: inline-block;
        text-transform: $upper;
        padding: 8px 12px;
    }

    .noso {
        color: $color1;
    }

    .noso:hover {
        text-decoration: none;
        color: $color1;
    }

    .siguenos {
        text-transform: $upper;
        font-family: $font;
    }

    .derechonoso {
        background-color: $color4;
    }

    .espacios {
        letter-spacing: 20px;
        padding-top: 10px;
        :hover{
            color: $color3;
            transform: scalex(1.2);
            transition-duration: 2s;
        }
    }
}

/*page index*/
header {
    background-color: $color0;
    border: 2px solid $color1;

    .tituloestudio {
        color: $color1;
        font-family: $font1;
        font-style: italic;
        font-size: 25px;
        font-weight: bold;

        :hover {
            text-decoration: none;
            color: $color1;
        }
    }

    .navbar {
        .navbar-brand img {
            width: 80px;
        }

        .navbar-nav {
            font-size: 18px;
            line-height: 2;
            text-transform: $upper;
            padding: 8px 12px;
            color: $color1;

            a {
                color: $color1;
            }

            .nav-link {
                text-decoration: none;
                color: $color1;
                text-shadow: 0 0 5px #000;
            }
        }

        .nav-item:hover {
            background-color: brown;
            transform: scale(1.2);
            border-radius: 3px;
        }
    }

}

main {
    background-image: url(../assets/fondopagina.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 90px;
    .tituloindex {
        display: flex;
        justify-content: center;
        color: $color1;
        text-decoration: $subrayado $color3;
        font-size: 50px;
        padding-bottom: 10px;
        text-transform: capitalize;
        font-family: $font1;
        font-style: italic;
    }

    .art1 {
        background-color: $color2;
        border: 2px solid $color3;
        padding-top: 10px;
        transform: rotateY(30deg);
        transition-duration: 2s;
        color: $color1;
        padding: 20px;
        margin-bottom: 20px;

        .textoindex{
            padding-top: 20px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    :hover {
        transform: scale(1);
        border-radius: 20px;
    }

    .btn-primary:hover {
        background-color: rgb(233, 150, 72);
        color: rgb(70, 220, 247);
    }

    img {
        height: 180px;
        width: 290px;
    }
}
.espacios1{
    @extend .espacios;
    }

/* page servicios */

.mainservi {
    color: $color1;

    .tituloservi {
        display: flex;
        justify-content: center;
        font-size: 50px;
        text-transform: capitalize;
        text-decoration: $subrayado $color3;
        font-family: $font1;
        font-style: italic;

    }
    .articulo1servi {
        background-color: $color2;
        border: 2px solid $color3;
        transition-duration: 2s;
        margin-bottom: 20px;
        margin-top: 10px;

    }

    .articulo1servi:hover {
        transform: scale(1.1);
    }

    .articulo2servi {
        background-color: $color2;
        border: 2px solid $color3;
        transition-duration: 2s;
        margin-bottom: 20px;
    }

    .articulo2servi:hover {
        transform: scale(1.1);
    }

    .articulo3servi {
        background-color: $color2;
        border: 2px solid $color3;
        transition-duration: 2s;
        margin-bottom: 20px;
    }

    .articulo3servi:hover {
        transform: scale(1.1);
    }

    .titulo2servi{
        padding-top: 20px;
        padding-bottom: 10px;
        text-transform: capitalize;
    }

    .parrafoservi{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    .carousel-inner {
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 50%;
        }

        .titulocarru {
            text-shadow: 0 0 10px #000;
            text-transform: capitalize;
            font-size: 50px;
        }

        .parrafocarru {
            font-size: 20px;
            font-style: italic;
        }
    }

    .carousel-indicators {

        li {
            border-radius: 40%;
            height: 20px;
            width: 20px;
            border: 2px solid $color3;
        }
    }
}
.espacios2{
    @extend .espacios
}
/* clientes */

.mainclientes {
    background-image: url(../assets/fondopagina.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    color: $color1;
    padding-top: 90px;

    .clien0 {
        .tituloclientes {
            font-size: 50px;
            text-transform: capitalize;
            text-decoration: $subrayado $color3;
            font-family: $font1;
            font-style: italic;
        }

        .parrafocliente {
            padding: 10px;
        }

    }

    .nombrecliente {
        padding: 10px;
        font-style: italic;
        text-transform: $upper;
    }
.probando{
    padding: 80px;
}
    .clien1 {
        background-color: $color2;
        border: 2px solid $color3;
        text-align: center;
    }

    .clien2 {
        background-color: $color2;
        border: 2px solid $color3;
        text-align: center;

        img{
            height: 400px;
        }
    }
    .clien3 {
        background-color: $color2;
        border: 2px solid $color3;
        text-align: center;
    }

    .parra1 {
        padding: 10px;
        padding-top: 60px;
        font-size: 20px;
    }
    .parra2{
        padding-top: 60px;
        font-size: 20px;
    }
}
.espacios3{
    @extend .espacios
}

/* page contacto */
$redes: (
    Times: red,
    arial: yellow,
    curisve: green,
    sans-serif: pink,
    helvetica: purple,
    verdana: blue,
    fantasy: white,
);
@each $red, $font in $redes {
    .btn--#{$font} {
        background-color: $color2;
        border: 2px solid $color3;
        font-family: $red;
        color: $font;
        font-size: 25px;
    }
}
.maincontacto {
    grid-area: maincontacto;
    background-image: url(../assets/fondopagina.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    color: $color1;
    padding-top: 90px;

    .titulocontacto {
        display: flex;
        justify-content: center;
        font-size: 50px;
        text-transform: capitalize;
        text-decoration: $subrayado $color3;
        font-family: cursive;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-delay: 5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        font-family: $font1;
        font-style: italic;

        @keyframes aparecer {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }
    }
    .formulario {
        place-self: center;
        text-transform: $upper;
        background-color: $color2;
        border: 2px solid $color3;
        padding: 80px;
        input {
            transition: all 2s;
        }
        :focus {
            font-size: 50px;
            border: 4px solid cornflowerblue color red;
        }
        ::placeholder {
            color: black;
            font-weight: 900;
            text-align: center;
            font-style: italic;
        }
        .btn--red{
            margin-right: 40px;
            margin-bottom: 40px;
        }
        .nombre{
            width: 500px;
            height: 50px;
            border: 2px solid aqua;
        }
        .btn--yellow{
            margin-right: 25px;
            margin-bottom: 40px;
        }
        .btn--green{
            margin-right: 75px;
            margin-bottom: 40px;
        }
        .btn--pink{
            margin-right: 70px;
            margin-bottom: 40px;
        }
        .btn--purple{
            margin-right: 10px;
            margin-bottom: 40px;
        }
        .btn--blue{
            margin-bottom: 40px;
        }
        .comens{
            margin-left: 160px;
        }
        .botonformulario{
            margin-left: 280px;
            background-color: aqua;
            height: 50px;
            width: 80px;
            font-size: 20px;
            text-transform: $upper;
        }
    }
    .map{
        display: grid;
        place-self: center;
        
        .titulomapa {
            display: flex;
            justify-content: center;
            font-size: 50px;
            text-transform: capitalize;
            text-decoration: $subrayado $color3;
            animation-duration: 2s;
            animation-name: aparecer;
            animation-delay: 5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            margin-bottom: 20px;
            font-family: $font1;
            font-style: italic;
        }
        
        .mapa {
            display: grid;
            place-self: center;
            height: 280px;
            width: 380px;
            margin-bottom: 20px;
        }
        
        .mapa:hover {
            transform: scale(1.1);
            transition: all 2s;
        }
    }
}
.espacios4{
    @extend .espacios
}