* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*page nosotros */
header {
  background-color: rgb(23, 7, 7);
  border: 2px solid white;
  position: sticky;
  z-index: 1;
}
header .navbar-dark .nav-link {
  color: rgb(241, 233, 233) !important;
}

.mainnosotros {
  padding-top: 30px;
}
.mainnosotros .titulo22 {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: underline rgb(215, 125, 15);
  font-size: 50px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-family: "Cormorant SC", serif;
  font-style: italic;
  text-align: center;
}
.mainnosotros .nosotrostexto {
  color: white;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}
.mainnosotros .nuestroequipo {
  text-align: center;
}
.mainnosotros .nuestroequipo {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: underline rgb(215, 125, 15);
  font-size: 50px;
  padding-bottom: 20px;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Cormorant SC", serif;
}
.mainnosotros .artnos {
  transform: rotateY(30deg);
  transition-duration: 2s;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}
.mainnosotros .nombres {
  text-shadow: 0 0 10px #000;
}

.artnos {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  padding-top: 10px;
}

.nosfooter {
  background-color: rgb(23, 7, 7);
  color: white;
  padding-top: 10px;
}
.nosfooter .titulofooternos {
  color: white;
  font-family: "Cormorant SC", serif;
  font-style: italic;
}
.nosfooter .logofooter {
  height: 100px;
  width: 100px;
}
.nosfooter .infonos {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.nosfooter .direccion {
  color: white;
}
.nosfooter .direccion:hover {
  text-decoration: none;
  color: white;
}
.nosfooter .menunosotrosfooter .nos12 {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 12px;
}
.nosfooter .noso {
  color: white;
}
.nosfooter .noso:hover {
  text-decoration: none;
  color: white;
}
.nosfooter .siguenos {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
.nosfooter .espacios, .nosfooter .espacios4, .nosfooter .espacios3, .nosfooter .espacios2, .nosfooter .espacios1 {
  letter-spacing: 20px;
  padding-top: 10px;
}
.nosfooter .espacios :hover, .nosfooter .espacios4 :hover, .nosfooter .espacios3 :hover, .nosfooter .espacios2 :hover, .nosfooter .espacios1 :hover {
  color: rgb(215, 125, 15);
  transform: scalex(1.2);
  transition-duration: 2s;
}

/*page index*/
header {
  background-color: rgb(23, 7, 7);
  border: 2px solid white;
}
header .tituloestudio {
  color: white;
  font-family: "Cormorant SC", serif;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
}
header .tituloestudio :hover {
  text-decoration: none;
  color: white;
}
header .navbar .navbar-brand img {
  width: 80px;
}
header .navbar .navbar-nav {
  font-size: 18px;
  line-height: 2;
  text-transform: uppercase;
  padding: 8px 12px;
  color: white;
}
header .navbar .navbar-nav a {
  color: white;
}
header .navbar .navbar-nav .nav-link {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px #000;
}
header .navbar .nav-item:hover {
  background-color: brown;
  transform: scale(1.2);
  border-radius: 3px;
}

main {
  background-image: url(../assets/fondopagina.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px;
}
main .tituloindex {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: underline rgb(215, 125, 15);
  font-size: 50px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-family: "Cormorant SC", serif;
  font-style: italic;
  text-align: center;
}
main .art1 {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  padding-top: 10px;
  transform: rotateY(30deg);
  transition-duration: 2s;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}
main .art1 .textoindex {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
main img {
  height: 180px;
  width: 290px;
}

/* page servicios */
.mainservi {
  color: white;
}
.mainservi .tituloservi {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-transform: capitalize;
  text-decoration: underline rgb(215, 125, 15);
  font-family: "Cormorant SC", serif;
  font-style: italic;
  padding-bottom: 20px;
  text-align: center;
}
.mainservi .articulo1servi {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  transition-duration: 2s;
  margin-bottom: 20px;
  margin-top: 10px;
}
.mainservi .articulo2servi {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  transition-duration: 2s;
  margin-bottom: 20px;
}
.mainservi .articulo3servi {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  transition-duration: 2s;
  margin-bottom: 20px;
}
.mainservi .titulo2servi {
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.mainservi .parrafoservi {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.mainservi .carousel-inner {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainservi .carousel-inner img {
  width: 100%;
  height: 50%;
}
.mainservi .carousel-inner .titulocarru {
  text-shadow: 0 0 10px #000;
  text-transform: capitalize;
  font-size: 50px;
}
.mainservi .carousel-inner .parrafocarru {
  font-size: 20px;
  font-style: italic;
}
.mainservi .carousel-indicators li {
  border-radius: 40%;
  height: 20px;
  width: 20px;
  border: 2px solid rgb(215, 125, 15);
}

/* clientes */
.mainclientes {
  background-image: url(../assets/fondopagina.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  color: white;
  padding-top: 30px;
}
.mainclientes .clien0 .tituloclientes {
  font-size: 50px;
  text-transform: capitalize;
  text-decoration: underline rgb(215, 125, 15);
  font-family: "Cormorant SC", serif;
  font-style: italic;
}
.mainclientes .clien0 .parrafocliente {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.mainclientes .nombrecliente {
  padding: 10px;
  font-style: italic;
  text-transform: uppercase;
}
.mainclientes .probando {
  padding: 80px;
}
.mainclientes .clien1 {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  text-align: center;
}
.mainclientes .clien2 {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  text-align: center;
}
.mainclientes .clien2 img {
  height: 400px;
}
.mainclientes .clien3 {
  background-color: rgba(33, 5, 5, 0.89);
  border: 2px solid rgb(215, 125, 15);
  text-align: center;
}
.mainclientes .parra1 {
  padding: 10px;
  padding-top: 60px;
  font-size: 20px;
}
.mainclientes .parra2 {
  padding-top: 50px;
  font-size: 20px;
}
.mainclientes .parrafosecundario {
  font-size: 20px;
  padding-top: 10px;
}

/* page contacto */
.maincontacto {
  grid-area: maincontacto;
  background-image: url(../assets/fondopagina.jpg);
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  color: white;
  padding-top: 30px;
}
.maincontacto .titulocontacto {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-transform: capitalize;
  text-decoration: underline rgb(215, 125, 15);
  font-family: cursive;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  font-family: "Cormorant SC", serif;
  font-style: italic;
  padding-bottom: 30px;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.maincontacto .formulario {
  place-self: center;
  text-transform: uppercase;
}
.maincontacto .formulario input {
  transition: all 2s;
}
.maincontacto .formulario :focus {
  font-size: 20px;
  border: 4px solid cornflowerblue color red;
}
.maincontacto .formulario ::placeholder {
  color: black;
  font-weight: 900;
  text-align: center;
  font-style: italic;
}
.maincontacto .formulario .formu {
  font-size: 25px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.maincontacto .formulario .comens {
  height: 180px;
}
.maincontacto .map {
  place-self: center;
}
.maincontacto .map .titulomapa {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-transform: capitalize;
  text-decoration: underline rgb(215, 125, 15);
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  margin-bottom: 20px;
  font-family: "Cormorant SC", serif;
  font-style: italic;
}
.maincontacto .map .mapa {
  place-self: center;
  height: 280px;
  width: 320px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=nosotros.css.map */
